body {
  background-color: #e1fff0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 5%;
  margin-right: 5%;
}

header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

header>img {
  width: 80px;

}

footer>img {
  width: 50px;
}

h1 {
  font-size: 2.3rem;
}


nav ul {
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

nav li {
  display: inline-block;
}

nav li a {
  text-decoration: none;
  color: rgb(11, 94, 37);
  cursor: pointer;
}

a:hover {
  color: rgb(12, 13, 13);

}

section {
  display: flex;
  gap: 1rem;
  margin: 25px 0 25px 0;
}

article {
  flex: 1;
}

article>img {
  width: 100%;
  opacity: 90%;
}

article>div img {
  width: 100%;
  opacity: 90%;
}

footer {
  display: flex;
  align-items: center;
}

footer div {
  flex: 1;
}

footer p {
  font-size: 0.9rem;
  text-align: end;
  color: grey;
}


p {
  font-size: 0.8rem;
  text-align: justify;
  color: rgb(35, 134, 65);
  padding: 0 10px 0 10px;
}

.btm-left {
  position: absolute;
  top: 30rem;
  font-size: 1.9rem;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(213, 248, 231);
}

.info {
  background-color: rgb(176, 234, 200);
  border-radius: 10px;
}

.hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
}